debug.log
themes/tootopia/.DS_Store
themes/tootopia/*.sass-cache*

themes/FoundationPress-master/
themes/timber-foundation-theme-master/
themes/twenty*/
themes/tootopia/assets/stylesheets/main.css.map
upgrade/
uploads/
