/* Page Title
 * -------------------------- */
.archive-header {
    padding: 35px 0;
    box-shadow: 0 0 1px $medium-gray;
    border-bottom: 1px solid $medium-gray;
}

.archive-header .archive-title {
    text-transform: uppercase;
    margin: 0;
    color: $black;
    font-size: 22px;
}

.archive-header .breadcrumbs {
    font-weight: 400;
    text-align: right;
}