/* Caroufredsel
 * -------------------------- */
.caroufredsel-posts {
    padding-top: 25px;
}

.caroufredsel-posts .subpage-title {
    padding-bottom: 0;
}

.caroufredsel-posts .entry-title {
    font-size: 15px;
    text-transform: none;
    margin-bottom: 20px;
}

.caroufredsel-posts .post-meta {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 11px;
}