.panel {
	@include white-background;
}

.padding-panel {
	@extend .panel;
	padding: 30px 20px;
}

.home {
    #content {
        margin-top: 30px;
        margin-right: -15px;
        margin-left: -15px;
    }
}

.links-container {
    margin-bottom: 2rem;

    .link-item {
        padding-left: 1rem;
    }
}

@media (min-width: $breakpoints-medium) {
    #main.has-fixed-header {
		margin-top: 100px;
    }
}