/* Navbar
 * -------------------------- */
#masthead .navbar {
    min-height: 80px;
    border: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    margin-bottom: 0;
    border-radius: 0;
    transition: all 0.2s ease;
    background-color: $black;
}

#masthead.affix .navbar.navbar-default {
    background-color: rgba(44, 62, 80, 0.9);
}

#masthead .navbar-brand {
    font-size: 24px;
    font-weight: 800;
    color: #ffffff !important;
    text-transform: uppercase;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;

    img {
		width: 160px;
	}
}

#masthead .navbar-brand > img {
    display: inline-block;
}

#masthead.affix .navbar-brand {
    font-size: 20px;
    line-height: 70px;
}

#masthead .navbar-brand:hover, #masthead .navbar-brand:focus {
    color: $black;
}

#masthead .navbar-toggle {
    border-radius: 0;
    margin-top: 33px;
}

#masthead.affix .navbar-toggle {
    margin-top: 18px;
}

#masthead .navbar-toggle:hover, #masthead .navbar-toggle:focus {
    background-color: $primary-color;
    border-color: $primary-color;
}

#masthead .navbar-toggle:hover .icon-bar, #masthead .navbar-toggle:focus .icon-bar {
    background-color: #ffffff;
}

#masthead .navbar-nav > li > a {
    color: $light-gray;
    font-weight: 700;
}

#masthead .navbar-nav > li .dropdown-menu {
    font-size: 13px;
}

#masthead .dropdown-menu > li > a {
    font-weight: 400;
}

#masthead .navbar-default .navbar-nav > .dropdown > a .caret {
    display: none;
}

#masthead .navbar-default .navbar-nav > .dropdown > a .caret {
    display: none;
}

@media (max-width: $breakpoints-medium-max) {
    #masthead .navbar-collapse {
        border-top: 0;
    }

    #masthead .navbar-collapse.in {
        overflow-y: visible;
        height: 100vh;
    }

    #masthead .navbar-toggle {
        border: none!important;
        &:hover {
            background-color: transparent!important;
            border: none;
            span.icon-bar {
                background-color: $primary-color;
            }
        }
        span.icon-bar {
            background-color: $primary-color;
        }
        span:nth-child(3) {
            width: 18px;
            margin-left: 4px;
        }
    }

    #masthead .navbar-nav {
        margin: 0 -15px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #masthead .navbar-nav > li > a {
        color: #bdc3c7;
        font-size: 13px;
        text-align: center;
    }

    #masthead .navbar-nav > li > a:hover, #masthead .navbar-nav > li > a:focus {
        color: #fff;
    }

    #masthead .navbar-nav > .active > a, #masthead .navbar-nav > .active > a:hover, #masthead .navbar-nav > .active > a:focus {
        color: $primary-color;
        background-color: transparent;
    }

    #masthead .navbar-nav .open .dropdown-menu > li > a {
        color: #bdc3c7;
    }

    #masthead .navbar-nav .open .dropdown-menu > li > a:hover, #masthead .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ecf0f1;
    }

    #masthead .navbar-nav > .open > a, #masthead .navbar-nav > .open > a:hover, #masthead .navbar-nav > .open > a:focus {
        z-index: 0;
    }

    #masthead .navbar-nav > li.open > .dropdown-menu {
        display: block;
        text-align: center;
        a {
          padding: 5px 0;
        }
        background: #333;
    }

}

@media (min-width: $breakpoints-medium) {

    #masthead .navbar-nav > li:hover .dropdown-menu {
        display: block;
    }

    #masthead .navbar-nav {
        float: right;
        margin-right: -15px;
        margin-top: 12px;
    }

    #masthead .navbar-nav > li > a {
        padding: 15px 10px;
        text-transform: uppercase;
        font-size: 14px;
    }

    #masthead .navbar-nav > li > a:hover,
    #masthead .navbar-nav > li > a:focus {
        color: $primary-color;
    }

    #masthead .navbar-nav > li.current-menu-parent:last-child > a {
        margin-right: 15px;
    }

    #masthead .navbar-nav > .active > a,
    #masthead .navbar-nav > .active > a:hover,
    #masthead .navbar-nav > .active > a:focus {
        background-color: transparent;
        color: $primary-color;
    }

    #masthead .navbar-nav > li.active,
    #masthead .navbar-nav > li:hover {
        &:after {
            width: 100%;
        }
    }


    #masthead .navbar-nav > li .dropdown-menu {
        border: 0;
        border-top: 3px solid $primary-color;
        margin-top: -3px;
        border-radius: 0;
        left: 0;
        right: auto;
        background-color: #ffffff;
    }

    #masthead .dropdown-menu > li > a {
        padding: 10px 20px;
        color: #7f8c8d;
        border-bottom: 1px solid #ecf0f1;
    }

    #masthead .dropdown-menu > li:last-child > a {
        border-bottom: 0;
    }

    #masthead .dropdown-menu > .active > a, #masthead .dropdown-menu > .active > a:hover, #masthead .dropdown-menu > .active > a:focus, #masthead .dropdown-menu > li > a:hover, #masthead .dropdown-menu > li > a:focus {
        color: #ffffff !important;
        background-color: $primary-color;
        border-color: $primary-color;
    }

    #masthead .navbar-nav > li {
        &:after {
            content: " ";
            display: block;
            width: 0px;
            height: 3px;
            margin: 0 auto;
            background-color: $primary-color;
            transition: all 0.5s ease;
        }
    }

    #masthead.fixedHeader {
        position: fixed;
        width: 100%;
        z-index: 9999;
        top: 0;

        .navbar {
            background-color: rgba($black, 0.8);
            &:hover {
                background-color: rgba($black, 1);
            }
        }
    }

}

@media (min-width: $breakpoints-large) {
    #masthead .navbar-nav > li > a {
        font-size: 16px;
    }

    #masthead .navbar-nav > li > a {
        padding: 15px 21px ;
    }
}

.navbar-search {
    margin-right: 0;
    margin-left: 25px;
    margin-top: 21px;
    color: $primary-color;
    font-size: 16px;
    border: 1px solid rgba($primary-color, 0.7);
    border-radius: 20px;
    padding: 4px 15px;
    cursor: pointer;

    &:hover {
		border-color: rgba($primary-color, 1);
		background-color: rgba($primary-color, 0.2);
    }
}

#masthead #searchform {
	display: none;

	.form-control {
		background: linear-gradient(to right, rgba($gray-black, 0), rgba($gray-black, 1), rgba($gray-black, 0));
		border: none;
		color: $white;
		text-align: center;
		border-top: 1px solid $gray-black;

		&::-webkit-input-placeholder {
			color: $dark-gray;
		}
	}

	&:before {
		display: none;
	}
}

@media (max-width: $breakpoints-medium-max) {
    .navbar-search {
        margin-top: 36px;
        border: none;
    }

    .navbar-brand {
		img {
			width: 100px;
		}
	}
}
