//  Foundation for Sites Settings
//  -----------------------------
//
//  Table of Contents:
//
//   1. Global
//   2. Breakpoints
//   3. The Grid
//   4. Base Typography
//   5. Typography Helpers
//   6. Abide
//   7. Accordion
//   8. Accordion Menu
//   9. Badge
//  10. Breadcrumbs
//  11. Button
//  12. Button Group
//  13. Callout
//  14. Close Button
//  15. Drilldown
//  16. Dropdown
//  17. Dropdown Menu
//  18. Flex Video
//  19. Forms
//  20. Label
//  21. Media Object
//  22. Menu
//  23. Meter
//  24. Off-canvas
//  25. Orbit
//  26. Pagination
//  27. Progress Bar
//  28. Reveal
//  29. Slider
//  30. Switch
//  31. Table
//  32. Tabs
//  33. Thumbnail
//  34. Title Bar
//  35. Tooltip
//  36. Top Bar

// 1. Global
// ---------

// Responsive
$primary-color: #af8e4f;
$light-gray: #eee;
$medium-gray: #cacaca;
$dark-gray: #aaa;
$gray-black: #333;
$black: #1a1a1a;
$white: #fff;

// Responsive
$breakpoints-small: 0;
$breakpoints-medium-max: 767px;
$breakpoints-medium: 768px;
$breakpoints-large: 992px;
$breakpoints-xlarge: 1200px;
$breakpoints-xxlarge: 1440px;

// Global
$body-background: $light-gray;
$body-font-color: #333;
$body-font-family: -apple-system, 'Montserrat', 'Verdana', sans-serif;
$body-antialiased: true;
$microsoft-yahei: '微软雅黑', 'Microsoft Yahei';

// 4. Base Typography
// ------------------
$anchor-color: $gray-black;
$anchor-color-hover: scale-color($primary-color, $lightness: -14%);
$anchor-text-decoration: none;
$anchor-text-decoration-hover: none;