/* Single Post
 * -------------------------- */
.single {
    article {
        @extend .panel;
    }

    .entry-wrap {
        padding: 50px 30px 40px;
    }

    .post-categories {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 30px;
        li {
            padding-right: 10px;
        }
        a {
            color: $primary-color;
            font-size: 16px;
        }
    }

    .entry-excerpt {
        margin-top: 20px;
        background-color: $light-gray;
        padding: 20px 20px 10px;
        line-height: 1.5;
        color: $darkest-gray;
        font-size: 14px;
    }

    .entry-content {
        p {
          line-height: 2;
          margin: 24px 0;
        }
    }

    .entry-title {
        font-size: 30px;
    }

    .entry-meta-single {
        font-size: 14px;
        color: $dark-gray;
        margin: 30px 0 10px;
    }

    .entry-meta-avator {
        margin-right: 30px;
        img {
            margin-right: 5px;
        }
    }

    .entry-meta-date {
        margin-right: 30px;
        .entry-meta-label {
            margin-right: 5px;
        }
    }
}

#jiathis_style_32x32 {
    .jiathis_title {
        float: left;
        vertical-align: middle;
        width: 64px;
        height: 32px;
        font-size: 16px;
        color: $dark-gray;
    }

    .jiathis_button_qzone {
        .jtico {
            background-image: url('../img/share-icon/share-qzone-32.png');
            background-position: 0;
        }
    }

    .jiathis_button_tsina {
        .jtico {
            background-image: url('../img/share-icon/share-weibo-32.png');
            background-position: 0;
        }
    }

    .jiathis_button_weixin {
        .jtico {
            background-image: url('../img/share-icon/share-wechat-32.png');
            background-position: 0;
        }
    }

    .jiathis_button_fb {
        .jtico {
            background-image: url('../img/share-icon/share-facebook-32.png');
            background-position: 0;
        }
    }
}
