.rev_slider {
	.slider-text {
		.slider-title {
			font-size: 30px;
		}
		.slider-cat {
			font-size: 18px;
			padding-top: 20px;
			a {
				color: $primary-color;
			}
		}
	}
}

@media (max-width: $breakpoints-medium-max) {
	.fullwidthbanner-container {
		margin: -35px -15px 0!important;
		width: auto;
	}
}